@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    /*Colors*/
    --light-blue: rgb(56 182 255);
    --Dark-Blue: rgb(49 81 99);
    --light-green: rgb(37 211 102);
    --White: rgb(255 255 255);

    --font: 'Poppins';
    --font-500: 500;
    --font-second:'Poppins';
    --font-400: 400;

}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html,
body{
    background: linear-gradient(rgb(39, 85, 112), rgb(83, 150, 189));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0%;
    /**Fill: Linear Gradient #60ACD9 @ 20.19% #327297 @ 85.27%;**/
    
}

.container{
    min-height: 100vh;
}

.logo{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.title{
    align-items: center;
    font-family: var(--font-second);
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    color: var(--White);
    margin-top: 15px;
    margin-bottom: 10px;
}

.form{
    max-width: 923px;
    /**height: 530px;**/ /**Podrtia usar este valor para darkle la altura que deseo pero por el momento esperaremos para ver si enconteramos una mejor opcion**/
    padding: 30px;
    padding-top: 20px;
    border-radius: 30px;
    background-color: var(--Dark-Blue);
    font-family: var(--font-second);
    font-size: 1.8rem;
    align-items: center; 
    color: var(--White);

}

.wha{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.button{
    display: flex;
    align-items: center;
    height: 2.8em;
    background: var(--light-green);
    color: var(--White);
    font-family: var(--font-second);
    font-size: 25px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    padding: 32px;
}

.campos{
    display: flex;
    justify-content: center;
}

